<!DOCTYPE html>
<html>
<head>
  <title>Dsnns</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div id="user_nav">
    <% sign_in_path = "/sign_in" %>
    <%= browserid_login_tag(sign_in_path) %>
  </div>
  <%= yield %>
<%= browserid_include_tag %>
</body>
</html>
